:root {
    --foreground-box-shadow-color: 0, 0, 0;
}

html[data-theme='dark'] {
    --foreground-box-shadow-color: 255, 255, 255;
}

.post {
    display: block;
    position: relative;
    min-width: 30%;
    margin: 0 1%;

    background-color: var(--ifm-background-color);
    box-shadow: rgba(var(--foreground-box-shadow-color), 0.1) -4px 9px 25px -6px;
    border-radius: 3px;
    overflow: hidden;

    text-decoration: none !important;
    transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
}

.post:hover {
    transform: scale(1.05);
    box-shadow: rgba(var(--foreground-box-shadow-color), 0.07) -5px 11px 30px -6px;
}

.postHeader {
    width: 100%;
    height: 30px;
    font-size: 12px;
    padding: 5px 8px;
    color: white;
}

.postBody {
    padding: 10%;
    color: var(--ifm-font-color-base);
}